body {
    background-color: #fff7fb;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue";
    /*padding: 2rem 2rem 2rem 2rem;*/
    margin: 0px;
}

h1 {
    font-size: 350%;
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 225%;
}

h3 {
    text-align: center;
    font-size: 200%;
    margin-bottom: 0;
}

h4 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: left;
    padding: 8px;
    font-size: 175%;
    color: black;
}

p.descriptions {
    text-align: center;
    color: black;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#projectBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.projectItem {
    width: 40%;
    height: auto;
    padding-top: 5%;
    border: 0.5rem solid black;
    border-radius: 1%;
    padding-bottom: 5%;
    margin: 2%;
}


a {
    font-weight: bold;
    color: white;
    font-size: 250%;
    justify-content: center;
}

a:hover {
    cursor: pointer;
    border: 5px solid #a2ffbf;
    padding: 0;
}

.btn {
    color: black;
    background-color: transparent;
    width: 16rem;
    font-size: 250%;
    border-radius: 5%;
    border: 1px solid black;
}

.btn:hover {
    background-color: #a2ffbf;
    color: black;
    cursor: pointer;
}

.projectContentsBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projectContentsItem {
    width: 70%;
    padding: 2%;
    padding-top: 5%;
}

.header {
    padding: 0; !important;
    margin-top: 0; !important;
    width: 100%;
    background-image: url("https://www.datocms-assets.com/12810/1637614058-survivor-day-2021-header-screen.png?auto=format&fill=blur&fit=fill&h=384&w=623");
}

.centerText {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.intro {
    margin-left: 4%;
    margin-right: 4%;
    padding: 2%;
    border: 0.2rem black solid;
    border-radius: 1%;
}